.home {
  position: fixed;
  overflow: scroll;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  height: 500vh;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card1 {
  opacity: var(--card1-opacity);
}

.card2 {
  opacity: var(--card2-opacity);
}