$text: #102E50;
$back: #F5C45E;
$accent1: #E78B48;
$accent2: #BE3D2A;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin card-center {
  position: absolute;
  bottom: var(--card-scroll-position);
  background-color: $accent1;
  min-width: 1280px;
  width: 100%;
  min-height: 760px;
  margin: 16px;
  @include flex-center;
}

.card-element {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
  @include card-center;
}