@import 'variables';

:root {
  --primary-color: #3498db;
  --font-size: 16px;
  --card-scroll-position: 0;
  --card1-opacity: 1;
  --card2-opacity: 0;
  
  --card1-scale: 1;
  --card2-scale: 1;

  --text: #102E50;
  --back: #F5C45E;
  --accent1: #E78B48;
  --accent2: #BE3D2A;
}

body {
  overflow: hidden;
  background-color: $back;
  color: $text;
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}
