@import 'variables';

:root {
  --primary-color: #3498db;
  --font-size: 16px;
  --card-scroll-position: calc(50%-200px);
  --card1-opacity: 1;
  --card2-opacity: 1;
}

body {
  overflow: hidden;
  background-color: $back;
  color: $text;
}
